@use "sass:color";

$bar-color-dark: #616161;
$blue-dark: #8a8aff;

:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);

    --bar-color-dark: #616161;
    --bar-stroke-dark: #c6ccd2;
    --border-color-dark: #616161;
    --light-bg: #3e3e3e;
    --light-border-color: #3e3e3e;
    --text-muted: #eee;
    --text-light: #ececec;
    --text-color: #f7f7f7;
    --blue-dark: #8a8aff;
    --text-dark: white;
    --holiday-color: #171b1f;
}

.app-dark>.gantt-container .gantt {
    & .grid-row {
        fill: #252525;
    }

    /* & .grid-row:nth-child(even) {
        fill: var(--light-bg-dark);
    } */

    & .row-line {
        stroke: var(--light-border-color-dark);
    }

    & .tick {
        stroke: var(--border-color-dark);
    }

    & .holiday-highlight {
        fill: var(--light-bg-dark);
    }

    & .arrow {
        stroke: var(--text-muted-dark);
    }

    & .bar {
        fill: var(--bar-color-dark);
        stroke: none;
    }

    & .bar-progress {
        fill: var(--blue-dark);
    }

    & .bar-invalid {
        fill: transparent;
        stroke: var(--bar-stroke-dark);

        &~.bar-label {
            fill: var(--text-light-dark);
        }
    }

    & .bar-label.big {
        fill: var(--text-light-dark);
    }

    & .bar-wrapper {
        &:hover {
            .bar {
                fill: color.scale($bar-color-dark, $lightness: 5%);
            }

            & .bar-progress {
                fill: color.scale($blue-dark, $lightness: 5%);
            }
        }

        &.active {
            .bar {
                fill: color.scale($bar-color-dark, $lightness: 5%);
            }

            & .bar-progress {
                fill: color.scale($blue-dark, $lightness: 5%);
            }
        }
    }
}

.app-dark>.gantt-container {
    & .grid-header {
        background-color: var(--light-bg);
    }

    & .popup-wrapper {
        background-color: #333;

        & .title {
            border-color: color.scale($blue-dark, $lightness: 5%);
        }

        & .pointer {
            border-top-color: #333;
        }
    }

    & .lower-text,
    & .upper-text {
        text-anchor: middle;
        color: var(--text-dark);
    }
}